<%- include('partials/header') %>

    <div class="main-layout pure-u-1 pure-u-md-3-4">
        <main class="main-content pure-g">

            <article class="post post--full pure-u-1">
                <div class="post-content post--category-histoire">
                    <header class="post-header">
                        <a class="post-back" href="./index.ejs">&lt; Retour à l'accueil</a>
                        <h2 class="post-title"><%= articleExist.title %></h2>
                        <p class="post-meta">
                            Par <a class="post-author" href="#"><%= articleExist.author %></a> dans la catégorie <a
                                class="post-category" href="#"><%= articleExist.category %></a>
                        </p>
                    </header>
                    <figure>
                        <img src="<%= articleExist.img %>" alt="<%= articleExist.img_alt %>">
                        <figcaption class="post-image-caption"><%= articleExist.sub_title %></figcaption>
                    </figure>
                    <main class="post-description">
                        <div class="post-text">
                            <%= articleExist.text.split('\n\n').join(' ++++++ ')%>
                            
                        </div>
                    </main>
                </div>
            </article>
        </main>

        <%- include('partials/footer') %>